/*マルチメディアシステム概論*/

/*デフォルトの設定*/
*{margin:0;padding:0}

/*ヘッダの設定*/
div.he{
	/*ボックスの設定*/
	padding: 0 0 0 2%;/*枠内余白（上右下左）*/
	background: #2AB8EA;/*背景色*/
	/*文字の設定*/
	color: white;/*文字の色*/
}
/*親コンテナの設定*/
div.oy{
	/*ボックスの配置*/
	display:flex;
}
/*コンテンツの設定*/
div.co{
	/*ボックスの設定*/
	width: 83%;/*幅*/
	height: 600px;/*高さ*/
	padding: 0 0 0 2%;/*枠内余白（上右下左）*/
	background: #F3FA78;/*背景色*/
}
/*ナビの設定*/
div.na{
	/*ボックスの配置*/
	width: 13%;/*幅*/
	height: 600px;/*高さ*/
	padding: 0 0 0 2%;/*枠内余白（上右下左）*/
	background: #B9CAFF;/*背景色*/
}
/*フッターの設定*/
div.fo{
	/*ボックスの設定*/
	padding: 0 0 0 2%;/*枠内余白（上右下左）*/
	background: #2ABBBB;/*背景色*/
}
