
*{margin:0;padding:0}


div.he{
	
	padding: 0 0 3% 2%;
	background: skyblue;
	color: white;
}


body{
    background-image: url("PXL_20221125_022306093.jpg");
	background-size: cover;
	background-origin: content-box;
}

div.co{
	
	width: 20%;
	height: 60px;
	padding: 0 0 0 2%;
	background: #F3FA78;
}

div.na{
	
	position: static;
	
}

div.na2{
	
	position: fixed;top: 500px;left: 320px;
	
}
div.na3{
	
	
	position: fixed;top:500px;left: 890px;
	
	
}

a.link{
	display: inline-block;
	text-decoration: none;
	font-size: 160%;
	font-weight: bold;
	border: 5px solid orange;
	border-top-left-radius: 1000px 200px;
	border-top-right-radius: 1000px 200px;
	border-bottom-left-radius: 1000px 200px;
	border-bottom-right-radius: 1000px 200px;
	width: 70%;
	height: 10px;
	padding: 50px 40px 80px 50px;
	background: #F3FA78;
}

